<header class="mb-4">
  <nav class="flex flex-wrap items-center justify-between px-3 py-3 text-gray-700 bg-black lg:px-10">

    <div class="flex items-center mr-6 flex-no-shrink">
      <%= link_to "/", class: "logo w-10" do %>
        <%= cl_image_tag "https://res.cloudinary.com/dyeuxstgg/image/upload/v1626885908/KombiCode/logo_192_gokswj.svg" %>
      <% end %>
    </div>

    <div class="items-center block w-full mt-2 text-center lg:flex lg:flex-row lg:flex-1 lg:mt-0 lg:text-right mr-10 lg:justify-end">
      <div class="lg:flex-grow">
        <%= link_to t('basic_link'), "#", class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link" %>
      </div>
      <% if user_signed_in? %>
        <%= link_to "Edit account", edit_user_registration_path, class: "btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-default mb-2 lg:mb-0 block" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %>
        <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-default block" %>
      <% end %>
      <div class="lg:flex-grow">
        <%= link_to "thierry.jet@kombicode.com", "#", class: "navbar-text block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link" %>
      </div>
    </div>
  </nav>
</header>
