<div class="max-w-xl mx-auto mt-16 text-left">
  <h1 class="mb-4 text-3xl font-black"><%= t('my_name') %></h1>
  <p class="text-lg leading-snug"><%= t('job_title') %></p>
  <p class="mt-8 text-lg leading-snug"><%= t('introducing_one') %></p>
  <p class="text-lg leading-snug"><%= t('introducing_two') %></p>
  <p class="mt-8 text-lg leading-snug text-right"><%= t('interest_on_wt') %></p>
</div>
