<div class="grid max-w-2xl grid-cols-2 gap-2 mx-auto mt-2 text-left align-middle sm:mt-16">
  <div>
    <%= image_tag "WEB-THIERRYJET-18.jpg", alt: "…", width: "280", height: "280" %>
    <div class="text-sm text-gray-500">
      <%= link_to t('credit_photo'), "https://pixtelling.com/", target: "_blank" %>
    </div>
  </div>
  <div>  
    <h1 class="mb-4 text-3xl font-black"><%= t('my_name') %></h1>
    <div class="text-black">
      <p class="text-lg leading-snug"><%= t('job_title') %></p>
      <p class="mt-8 text-lg leading-snug"><%= t('introducing_one') %></p>
      <p class="text-lg leading-snug"><%= t('introducing_two') %></p>
      <p class="mt-8 text-lg leading-snug"><%= t('interest_on_wt') %></p>
      <%= turbo_frame_tag 'contact_main_modal' %>
      <div class="flex-grow" data-controller="extended-modal" 
          data-extended-modal-prevent-default-action-opening="false">
        <%= render 'contacts/mainmodal'%>
        <i class="fas fa-arrow-right"></i>
        <%= link_to "thierry.jet@kombicode.com", new_contact_path("main"), class: "animate-pulse interest-link inline-block mt-0 mr-4 mb-0 lin", data: { action: "click->extended-modal#open", 'turbo-frame': 'contact_main_modal' } %>
      </div>
    </div>
  </div>
</div>
